/*----html, body, container-----*/
 *{
   overflow: scroll;         
   margin:0px;
   padding:0px;
}

html{
  min-height: 100%;
}


html, body{
  height: 100%;
  min-height: 100%;
  background-color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body{
    min-height: 100vh;
    width: 100%; /* full window width */
    margin-top: 0;
    padding-top: 0;
    font-size: 14px;
    line-height: 30px;
}

container{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin-top: 30px;
    max-width: 100% !important;
    background-color: #262626;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}      



/*------------------ typography------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



/*------------------ Navbar------------------------- */

.navbar.navbar-inverse.navbar-fixed-top{
    margin-bottom: 0;
}

.navbar-brand{
    font-family: "Futura", sans-serif;
    margin-left: 30px;
    font-size: 26px;
    font-weight:500;
}

#navbar.collapse.navbar-collapse{
    margin-left: auto;
    margin-right: auto;
}

.container-nav{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.nav.navbar-nav{
    font-family: "Futura", sans-serif;
    float: right;
    font-size: 16px;
}



@media screen and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
}



/*-------------------- Home --------------------------- */

.jumbotron.jumbotron-fluid{
    width: 100%;
    height: 90vh;
    position: inherit;
    z-index: -1;
    overflow:hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url(/images/jim_camera.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    border-radius: 0px;
}


/*-------------------Footer ----------------------------*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #262626;
}

#copyright{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #e6e6e6;
    text-align: center;
    font-size: .50em;
    font-family: "Helvetica Neue", sans-serif;
}



/*------------------Screen Size------------------------- */

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: none; 
}
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}


/*-----------------Portfolio--------------------*/
.page-header {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    color: #f2f2f2;
    letter-spacing: 2px;
    padding-bottom: 20px;
}


.carousel-control.left,.carousel-control.right{
  background-image:none;
  
}

.carousel-control.left {margin-left: -100px; color: white;}
.carousel-control.right {margin-right: -100px; color: white;}

.btn{
  padding: 2px 5px;
  font-size: 14px;
}

.gallery.carousel.slide{
    margin: 0;
    bottom: 0;
    padding: 0;
}

.modal-content{
    height: 520px;
    overflow: hidden !important;
}

.carousel-inner .item iframe{
  width: 100%;
  height: 520px;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
}

.modal-backdrop.in {
	opacity: 0.16 !important;
}

.modal.and.carousel {
  position: absolute; 
}

.col-lg-4.col-sm-4{
    display: inline-block;
}