/*----html, body, container-----*/


html{
  min-height: 100%;
}


html, body{
  height: 100vh;
  min-height: 100%;
  background-color: #1a1a1a;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body{
    min-height: 100vh;
    width: 100%; /* full window width */
    margin-top: 0;
    padding-top: 0;
    font-size: .7em;
    line-height: 30px;
}

.container{
    width: 90%;
    min-height: 100%;
    padding: 0;
    margin-top: 2em;
    background-color: #1a1a1a;
}

.row{
    margin-top: 1em;
    margin-bottom: 2em;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

h3{
    font-family: "Quicksand", sans-serif;
     color: #f9f9f9;
}

p{
    font-family: "Quicksand", sans-serif;
    font-size: .75em;
    color: #f9f9f9;
}

em{
    font-family: "Quicksand", sans-serif;
    font-size: .75em;
    color: #f9f9f9;
}

strong{
    font-family: "Quicksand", sans-serif;
    font-size: .75em;
    color: #f9f9f9;
}


@media screen and (max-width: 767px) {
    body {
        font-size: 1.2em;
    }
}


/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.8em;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}      



/*------------------ typography------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



/*------------------ Navbar------------------------- */

.navbar.navbar-inverse.navbar-fixed-top{
    display: inline;
    background-color: #1a1a1a;
    border-color: #1a1a1a;
    padding-bottom: .5em;
    padding-top: .5em;
    margin-left:0;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px 11px;
    margin-top: 8px;
    margin-right: 0em; 
    margin-bottom: 8px;
    background-color: #1a1a1a;
    background-image: none;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
}

.navbar-inverse .navbar-toggle {
    border-color: #1a1a1a;
}

.navbar-brand{
    font-family: "Quicksand", sans-serif;
    font-size: 1.15em;
    font-weight: bold;
    text-transform: uppercase;
}

#navbar.collapse.navbar-collapse{
    margin-left: auto;
    margin-right: auto;
    outline:0;
    
}

.container-nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav.navbar-nav{
    text-align: center;
    font-family: "Quicksand", sans-serif;
    float: right;
    font-size: .75em;
    font-weight: bold;
}



@media screen and (max-width: 767px) {
    .nav.navbar-nav{
        font-size: .9em;
    }
    .navbar-brand{
        font-size: 1.2em;
    }
    .card-title{
        font-size: 0.4em;
    }
    
}





/*-------------------- Home --------------------------- */

.jumbotron.jumbotron-fluid1{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;
    height: 90vh;
    position: inherit;
    z-index: -1;
    overflow:hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    border-radius: 0px;
}







/*-------------------Footer ----------------------------*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 1em;
    background-color: #262626;
}

#copyright{
    margin: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    color: #d9d9d9;
    text-align: center;
    font-size: .55em;
    font-family: "Quicksand", sans-serif;
}



/*------------------Screen Size------------------------- */



/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.6em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.6em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}


/*-----------------Films--------------------*/
.page-header {
    margin-top: 1em;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 20px;
    border-bottom: none;
}


.carousel-control.left,.carousel-control.right{
  background-image:none;
  
}

.carousel-control.left {margin-left: -100px; color: white;}
.carousel-control.right {margin-right: -100px; color: white;}

.btn{
  padding: 2px 5px;
  font-size: 14px;
}

.gallery.carousel.slide{
    margin: 0;
    bottom: 0;
    padding: 0;
}

.modal-content{
    overflow: hidden !important;
    background: #e6e6e6;
    margin-top: 7%;
}

.modal-body iframe{
  width: 100%;
  height: 22em;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
}

.modal-backdrop.in {
	opacity: 0.7 !important;
}

.modal.and.carousel {
  position: absolute; 
}

.fade {
   opacity: 0;
   -webkit-transition: opacity 0.25s linear;
      -moz-transition: opacity 0.25s linear;
       -ms-transition: opacity 0.25s linear;
        -o-transition: opacity 0.25s linear;
           transition: opacity 0.25s linear;
 }

.col-xl-3.col-lg-4.col-sm-6.col-xs-12.col-sm-6{
    display: inline-block;
    margin-bottom: 2em;
    float: none;
}

.card{
    padding-bottom: 0.5em;
    border: 1px solid #666666;
    box-shadow: 0 8px 6px -6px black;
}



.card-title{
    font-size: 0.7em;
    margin-bottom: .9em;
}

.img-responsive {
  background-color: #262626;
  border: none;
  text-align: center;
  padding:0;
  width: 100%;
  -webkit-filter: brightness(85%); 
}

.img-responsive1 {
  background-color: #262626;
  border: none;
  text-align: center;
  padding:0;
  width: 100%;
  height: 100%;
  margin-bottom: .5em;
}


.img-responsive:hover{
    -webkit-filter: brightness(110%); 
    -webkit-transition: all 1s ease;
}




#collapsecontent, #collapsecontent1, #collapsecontent2, #collapsecontent3, #collapsecontent4, #collapsecontent5, 
#collapsecontent6, #collapsecontent7, #collapsecontent8, #collapsecontent9, #collapsecontent10, #collapsecontent11, 
#collapsecontent12, #collapsecontent13, #collapsecontent14, #collapsecontent15, #collapsecontent16, #collapsecontent17,
#collapsecontent18, #collapsecontent19, #collapsecontent20, #collapsecontent21, #collapsecontent22, #collapsecontent23,
#collapsecontent24, #collapsecontent25, #collapsecontent26, #collapsecontent27, #collapsecontent28, #collapsecontent29,
#collapsecontent30, #collapsecontent31, #collapsecontent32, #collapsecontent33, #collapsecontent34, #collapsecontent35{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}


.glyphicon{
    font-style: normal;
    font-size: inherit;
}

button.top{
    background-color: transparent;
    border: none;
    font-family: "Quicksand", sans-serif;
    color: #e6e6e6;
    font-size: .75em;
    text-transform: uppercase;
    margin: .35em;
    letter-spacing: .02em;
    line-height: 1em;
}

button.top:hover{
    border-bottom: .1em solid #e6e6e6;
}

button.top:focus{
    border-bottom: .1em solid #e6e6e6;
    outline:0;
}





.close {
    float: right;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #000000;
    background: none;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
}

/*-----------------D Tour--------------------*/

form{
    margin: 1em;
}




/*-----------------About--------------------*/

.jumbotron.jumbotron-fluid2{
    margin-top: 1em;
    width: 100%;
    height: 55vh;
    position: inherit;
    z-index: -1;
    overflow:hidden;
    margin-bottom: 1em;
    margin-top: 1em;
    padding:0;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    border-radius: 0px;
    text-align:center;
    border: 1px solid #666666;
}


iframe.large{
    padding-top: 2em;
    padding: 0;
    margin:0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.jumbotron.jumbotron-fluid3{
    margin-top: 1em;
    width: 100%;
    height: 70vh;
    position: inherit;
    z-index: -1;
    overflow:hidden;
    margin-bottom: 1em;
    margin-top: 1em;
    padding:0;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    border-radius: 0px;
    text-align:center;
    border: 1px solid #666666;
}

#sidebar {
    padding-left: 0;
    padding-right: 0;
}

#sidebar {
    position: fixed;
    top: 3em;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
    padding-right: .1em;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
}

#main{
   padding-top: 1em;
   padding-left: .1em;
}

@media (max-width: 992px) {
  #sidebar,#sidebar .img-responsive1 {
    text-align:center;
    top: 0;
    position: relative;
    padding: .3em;
  }
 #main{
    position: relative;
  }
  body{
      margin-top: 3em;
  }
}


@media (min-width: 576px){
.container-fluid {
    padding-right: 10px;
    padding-left: 10px;
}
.container-fluid {
    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}
body{
    margin-top: 1em;
}
}

li.nav-item{
    width: 100%;  
    top:0;
    margin-left: auto;
    margin-right: auto;
   
}

.nav-pills{
    border: 1px solid #666666;
    box-shadow: 0 8px 6px -6px black;
}


