/*----html, body, container-----*/


html{
  min-height: 100%;
}


html, body{
  height: 100vh;
  min-height: 100%;
  background-color: #262626;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body{
    min-height: 100vh;
    width: 100%; /* full window width */
    margin-top: 0;
    padding-top: 0;
    font-size: 14px;
    line-height: 30px;
}

.container{
    width: 80%;
    min-height: 100%;
    padding: 0;
    margin-top: 2em;
   
    background-color: #262626;
}

.row{
    margin-top: .5em;
}


.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.8em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.4em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.6em;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}      



/*------------------ typography------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}



/*------------------ Navbar------------------------- */

.navbar.navbar-inverse.navbar-fixed-top{
    display: inline;
    background-color: #262626;
    border-color: #262626;
}



.navbar-brand{
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

#navbar.collapse.navbar-collapse{
    margin-left: auto;
    margin-right: auto;
}

.container-nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.nav.navbar-nav{
    font-family: "Quicksand", sans-serif;
    float: right;
    font-size: .7em;
    font-weight: bold;
}



@media screen and (max-width: 767px) {
    body {
        font-size: 0.7em;
    }
    .nav.navbar-nav{
        font-size: 1.5em;
    }
    .navbar-brand{
        font-size: 2em;
    }
    .card-title{
        font-size: 0.4em;
    }
    
}



/*-------------------- Home --------------------------- */

.jumbotron.jumbotron-fluid{
    width: 100%;
    height: 90vh;
    position: inherit;
    z-index: -1;
    overflow:hidden;
    margin-bottom: 0px;
    margin-top: 0px;
    background-image: url(/images/jim_camera.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    border-radius: 0px;
}


/*-------------------Footer ----------------------------*/

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #262626;
}

#copyright{
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #e6e6e6;
    text-align: center;
    font-size: .50em;
    font-family: "Helvetica Neue", sans-serif;
}



/*------------------Screen Size------------------------- */

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1.1em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.3em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}


/*-----------------Films--------------------*/
.page-header {
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    padding-bottom: 20px;
}


.carousel-control.left,.carousel-control.right{
  background-image:none;
  
}

.carousel-control.left {margin-left: -100px; color: white;}
.carousel-control.right {margin-right: -100px; color: white;}

.btn{
  padding: 2px 5px;
  font-size: 14px;
}

.gallery.carousel.slide{
    margin: 0;
    bottom: 0;
    padding: 0;
}

.modal-content{
    height: 520px;
    overflow: hidden !important;
}

.carousel-inner .item iframe{
  width: 100%;
  height: 520px;
  bottom: 0;
  margin-bottom: 0;
  padding: 0;
}

.modal-backdrop.in {
	opacity: 0.16 !important;
}

.modal.and.carousel {
  position: absolute; 
}

.col-lg-4.col-sm-6{
    display: inline-block;
    margin-bottom: 1em;
    float: none;
}

.card{
    padding-bottom: 0.2em;
    border: 1px solid #fff;
}

.card-title{
    font-size: 0.56em;
    margin-bottom: .7em;
}

.img-responsive {
  background-color: #262626;
  border: none;
  text-align: center;
  padding:0;
  width: 100%;
  height: 100%;
}

#collapsecontent{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent1{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent2{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent3{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent4{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent5{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent6{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}
#collapsecontent7{
    font-family: Open Sans, sans-serif;
    font-size: small;
    margin: .7em;
    line-height: 1.9em;
    text-align: justify;
}


.glyphicon{
    font-style: normal;
    font-size: inherit;
}

