extends layout

block content
    .container
       .row
        
        .jumbotron.jumbotron-fluid2.text-center
            iframe.large(src='https://player.vimeo.com/video/220091633', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='jims_reel')
        
        .col-lg-12.about
            .h3.text-center
                | Jim Granato is a self-taught, award-winning filmmaker based in Oakland, California.
                
            
            .col-lg-12.page-header
                span.h3.text-uppercase(data-toggle='collapse', href='#collapsecontent') About +
                #collapsecontent.collapse
                    p.tog
                        | Since 1996, He has directed and produced several short films and music videos. His recent films, A Day With My Boy: Slug War (2014), was licensed by 
                        | PBS and premiered on their Online Film Festival, and Angels (2013) was nominated for a Golden Gate Award at the San Francisco International 
                        | Film Festival. He has made music videos for Sonny & The Sunsets, Rogue Wave, Ramon & Jessica, Pancho-San and The Bobbyteens.
                        br
                        br
                        | D Tour (2009), his first feature length film as director and producer, has won several awards including the Golden Gate Award for Bay Area Feature 
                        | Documentary from the San Francisco International Film Festival and the Jury Prize for Best Documentary from the Bend Film Festival. D Tour 
                        | premiered nationwide on the PBS Emmy award-winning program Independent Lens in November 2009. He is currently working on a second feature film 
                        | project with underground "budget rock" legends, The Mummies.
                        br
                        br
                        | As a freelance Director, Producer, Videographer and Editor, Jim Granato has worked on projects for The History Channel, The Travel Channel, Court TV, 
                        | Adobe, San Francisco Museum of Modern Art, Oakland Museum of California, The Exploratorium and dozens of independent filmmakers and organizations worldwide.
                        br
                        br
                        | In addition to filmmaking, Jim is passionate about music. Under the moniker, DJ Jim G, he created and hosted a weekly internet radio show, "Wax! 
                        | Crackle! Pop!", on Radio Valencia in San Francisco for over two years. W!C!P! was a commercial free, free form format that featured an eclectic 
                        | mix of rock, soul, funk, country and jazz from all over the world. Now available as a podcast, W!C!P! featured a wide variety of guests 
                        | including Mike Watt, Jonathan Richman and many more.
                        br
                        br
                    
            
            .col-lg-12.page-header
                span.h3.text-uppercase(data-toggle='collapse', href='#collapsecontent1') Testimonials +
                #collapsecontent1.collapse
                   
                    em.tog
                        | “As a Creative Director at Adobe, I’ve worked with Jim G. for years, on a variety of projects, and in different capacities. 
                        | Jim is a talented and versatile filmmaker, comfortable in all areas of production and post. More importantly: in this work, you 
                        | spend a lot of time working closely with people, and you want to hire people you like to be around, who play well with others, 
                        | and who work hard and Jim delivers on all of the above.”
                        br
                    p.tog   
                        | - Dan Cowles, Sr. Creative Director, Adobe
                        br
                        br
                    em.tog   
                        | "Jim pulled off a miracle shooting our verité doc under trying conditions: an 8-day walk across windy, rainy Iowa. He has a 
                        | talent for anticipating action, nailing the critical shot, and delivering B-roll that you don’t expect to need (but invariably do). 
                        | His strong work ethic and keen sense of humor made the long days fly by. With his steady hand on the tiller and sensitivity towards the subjects, 
                        | my directing load was very light indeed."
                        br
                    p.tog    
                        |- Ralph King, Hawkview Pictures
                        br
                        br
                    em.tog
                        | "I’ve had the pleasure of working with Jim Granato for the better part of ten years through his work as the videographer for 
                        | hire at the San Francisco Museum of Modern Art and other Bay Area film projects. He is an incredible PRO with a deep knowledge 
                        | of the field of filmmaking, a passion for film,  whose  supportive and collaborative spirit is invaluable to the film community.  
                        | SFMOMA values his work, his attention to detail, his professional demeanor and his timeliness with respect to project deadlines - 
                        | that’s why he is the first one we call when we need documentation!  As a filmmaker, he is a wonderful talent who has a unique 
                        | voice. I cannot say enough good things about Jim G!" 
                        br
                    p.tog 
                        | - Gina Basso, Program Associate, Performance & Film, SFMOMA
                        br
                        br
                    
                    em.tog 
                        | "Jim Granato is fantastic to work with. Aside from being a great filmmaker in his own right, he is a valued collaborator with a
                        | deep knowledge of film, video and sound technology. He has shot video for SF Sketchfest for over a decade and is always the 
                        | first call we make."
                        br
                    p.tog
                        | - David Owen, Co-Founder, SF Sketchfest
                        br
                        br
                        
            
            .col-lg-12.page-header
                span.h3.text-uppercase(data-toggle='collapse', href='#collapsecontent2') Press +
                #collapsecontent2.collapse
                    .col-12.lg
                        span.h4.text-uppercase(data-toggle='collapse', href='#collapsecontent4') Watch +
                        #collapsecontent4.collapse
                            a.h4(href='https://vimeo.com/220081271') Indiehouse interview June, 2017
                            br
                            a.h4(href='https://www.youtube.com/watch?v=cXpcEGcX7os') Oxford Film Festival Red Carpet February, 2010
                            br
                            a.h4(href='https://youtu.be/2YEBvHyFjLM') This Week in Northern California November, 2009
                            br
                            br

                    .col-12.lg
                        span.h4.text-uppercase(data-toggle='collapse', href='#collapsecontent5') Listen +
                        #collapsecontent5.collapse
                            a.h4(href='http://supdocpodcast.com/podcast/ep-59-d-tour-filmmaker-jim-granato/') SUP DOC PODCAST June, 2017
                            br
                            a.h4(href='https://ww2.kqed.org/forum/2009/12/30/d-tour/') KQED FORUM January, 2010
                            br
                            br
                        
                    .col-12.lg
                        span.h4.text-uppercase(data-toggle='collapse', href='#collapsecontent6') Read +
                        #collapsecontent6.collapse
                            a.h4(href='http://www.brooklynvegan.com/sonny-the-sunse-8/') BROOKLYN VEGAN Apr, 2015
                            br
                            a.h4(href='http://hellonfriscobay.blogspot.com/2013/05/angels-2013.html') HELL ON FRISCO BAY May, 2013
                            br    
                            a.h4(href='http://www.sfweekly.com/music/watch-ramon-and-jessica-report-the-beginning-of-the-end-of-the-empire-in-gorgeous-a-capella/') SF WEEKLY November, 2012
                            br
                            a.h4(href=' http://www.pbs.org/independentlens/d-tour/makingof.html') PBS, November, 2009
                            br
                            a.h4(href='https://openspace.sfmoma.org/2009/09/granato/') SFMOMA OPEN SPACE September, 2009
                            br
                            a.h4(href='http://www.avclub.com/article/pat-spurgeon-jim-granato-27338') AV CLUB May, 2009
                            br
                            a.h4(href='http://www.sf360.org/Articles/Reviews/?pageid=12025') SF360 April, 2009
                            br
                            br
                            
                            
                                                    
                                                    
            
            
            .col-lg-12.page-header
                span.h3.text-uppercase(data-toggle='collapse', href='#collapsecontent3') Work with Jim +
                #collapsecontent3.collapse
                    .col-lg-12.lastpar
                        .col-md-6
                            p.tog
                                | Jim is available to work on any size of project and has the ability to assemble crews for larger projects. 
                                | If you are interested in working with Jim, email him through the link at the bottom of this 
                                | page with your project specifications. Thanks for looking!
                        .col-md-6.offset-md-6.text-center
                            img.img-responsive3(src='./images/JimG_iowamarch.jpg')
                        br
                        br
                
     
         
    
    script(type='text/javascript').
      $(document).ready(function(){
      $(".about").hide(0).delay(500).fadeIn(4000)
      }); 
      
    
             
            

         
  