extends layout

block content
    .container
       .row
        
        .jumbotron.jumbotron-fluid2.text-center
            iframe.large(src='https://player.vimeo.com/video/220091633', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='jims_reel')
        
        .col-lg-12
    
            .h3.text-center
                | Jim Granato is a self-taught, award-winning filmmaker based in Oakland, California.
                
            
            .col-lg-12
                span.h1(data-toggle='collapse', href='#collapsecontent') About
                #collapsecontent.collapse
                    p
                        | Since 1996, He has directed and produced several short films and music videos. His recent films, A Day With My Boy: 
                        | Slug War (2014), was licensed by PBS and premiered on their Online Film Festival, and Angels (2013) was nominated for a 
                        | Golden Gate Award at the San Francisco International Film Festival. He has made music videos for Sonny & The Sunsets, 
                        | Rogue Wave, Ramon & Jessica, Pancho-San and The Bobbyteens.
                        br
                        br
                        | D Tour (2009), his first feature film as director and producer, has won several awards including the Golden Gate Award for Bay 
                        | Area Feature Documentary from the San Francisco International Film Festival and the Jury Prize for Best Documentary from the 
                        | Bend Film Festival. D Tour premiered nationwide on the PBS Emmy award-winning program Independent Lens in November 2009. He is 
                        | currently working on a second feature film project with underground "budget rock" legends, The Mummies.
                        br
                        br
                        | As a freelance Director, Producer, Videographer and Editor, he has worked on projects for The History Channel, The Travel 
                        | Channel, Court TV, Adobe, San Francisco Museum of Modern Art, Oakland Museum of California, The Exploratorium and dozens of 
                        | independent filmmakers and organizations worldwide.
                        br
                        br
                        | In addition to filmmaking, he is passionate about music. Under the moniker, DJ Jim G, he created and hosted a weekly internet 
                        | radio show, "Wax! Crackle! Pop!", on Radio Valencia in San Francisco for over two years. W!C!P! was a commercial free, free form 
                        | format that usually featured an eclectic mix of rock, soul, funk, country and jazz from all over the world. Now available as a podcast, 
                        | W!C!P! also featured a wide variety of guests including Mike Watt, Jonathan Richman and many more.
                    
            
            .col-lg-12
                span.h1(data-toggle='collapse', href='#collapsecontent1') Testimonials
                #collapsecontent1.collapse
                    .div2
                        em1
                            | Here's what people have to say about Jim:
                            br
                            br
                            | “As a Creative Director at Adobe, I’ve worked with Jim G. for years, on a variety of projects, and in different capacities. 
                            | Jim is a talented and versatile filmmaker, comfortable in all areas of production and post. More importantly: in this work, you 
                            | spend a lot of time working closely with people, and you want to hire people you like to be around, who play well with others, 
                            | and who work hard and Jim delivers on all of the above.”
                            br
                        p1   
                            | - Dan Cowles, Sr. Creative Director, Adobe
                            br
                            br
                        em1    
                            | "Jim pulled off a miracle shooting our verité doc under trying conditions: an 8-day walk across windy, rainy Iowa. He has a 
                            | talent for anticipating action, nailing the critical shot, and delivering B-roll that you don’t expect to need (but invariably do). 
                            | His strong work ethic and keen sense of humor made the long days fly by. With his steady hand on the tiller and sensitivity towards the subjects, 
                            | my directing load was very light indeed."
                            br
                        p1    
                            |- Ralph King, Hawkview Pictures
                            br
                            br
                        em1
                            | "I’ve had the pleasure of working with Jim Granato for the better part of ten years through his work as the videographer for 
                            | hire at the San Francisco Museum of Modern Art and other Bay Area film projects. He is an incredible PRO with a deep knowledge 
                            | of the field of filmmaking, a passion for film,  whose  supportive and collaborative spirit is invaluable to the film community.  
                            | SFMOMA values his work, his attention to detail, his professional demeanor and his timeliness with respect to project deadlines - 
                            | that’s why he is the first one we call when we need documentation!  As a filmmaker, he is a wonderful talent who has a unique 
                            | voice. I cannot say enough good things about Jim G!" 
                            br
                        p1 
                            | - Gina Basso, Program Associate, Performance & Film, SFMOMA
                            br
                            br
                        
                        em1 
                            | "Jim Granato is fantastic to work with. Aside from being a great filmmaker in his own right, he is a valued collaborator with a
                            | deep knowledge of film, video and sound technology. He has shot video for SF Sketchfest for over a decade and is always the 
                            | first call we make."
                            br
                        p1
                            | - David Owen, Co-Founder, SF Sketchfest
                            br
                            br
                        
            
            .col-lg-12
                span.h1(data-toggle='collapse', href='#collapsecontent2') Press
                #collapsecontent2.collapse
                    .col-12.lg
                        
            
            
            .col-lg-12
                span.h1(data-toggle='collapse', href='#collapsecontent3') Work with Jim
                #collapsecontent3.collapse
                    .col-lg-12.lastpar
                        .col-md-6
                            p.lead
                                | If you are interested in working with Jim on your next project, email him here or through the link at the bottom of this page.
                        .col-md-6.offset-md-6.text-center
                            img.img-responsive3(src='./images/JimG_iowamarch.jpg')
                
     
         
    
    script(type='text/javascript').
      $(document).ready(function(){
      $(".large").hide(0).delay(100).fadeIn(1000)
      }); 
      
    
             
            

         
  