extends layout

block content
    .container
       .row
        .jumbotron.jumbotron-fluid2.text-center
            iframe.large(src='https://player.vimeo.com/video/220091633', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='jims_reel')
        
        .col-lg-12
            .div1
                p
                    | Jim Granato is a self-taught, award-winning filmmaker based in Oakland, California. He has directed and produced several short 
                    | films and music videos since 1996. His recent shorts, A Day With My Boy: Slug War (2014), was licensed by PBS and premiered on 
                    | their Online Film Festival, and Angels (2013) was nominated for a Golden Gate Award at the San Francisco International Film 
                    | Festival. He has made music videos for Sonny & The Sunsets, Rogue Wave, Ramon & Jessica, Pancho-San and The Bobbyteens.
                    br
                    br
                    | D Tour (2009), his first feature film as director and producer, has won several awards including the Golden Gate Award for Bay 
                    | Area Feature Documentary from the San Francisco International Film Festival and the Jury Prize for Best Documentary from the 
                    | Bend Film Festival. D Tour premiered nationwide on the PBS Emmy award-winning program Independent Lens in November 2009. He is 
                    | currently working on a second feature film project with underground "budget rock" legends, The Mummies.
                    br
                    br
                    | As a freelance Director, Producer, Videographer and Editor, he has worked on projects for The History Channel, The Travel 
                    | Channel, Court TV, Adobe, San Francisco Museum of Modern Art, Oakland Museum of California, The Exploratorium and dozens of 
                    | independent filmmakers and organizations worldwide.
                    br
                    br
            .div2
                em1
                    | Here's what people have to say about Jim:
                    br
                    br
                    | “As a Creative Director at Adobe, I’ve worked with Jim G. for years, on a variety of projects, and in different capacities. 
                    | Jim is a talented and versatile filmmaker, comfortable in all areas of production and post. More importantly: in this work, you 
                    | spend a lot of time working closely with people, and you want to hire people you like to be around, who play well with others, 
                    | and who work hard and Jim delivers on all of the above.”
                    br
                p1   
                    | - Dan Cowles, Sr. Creative Director, Adobe
                    br
                    br
                em1    
                    | "Jim pulled off a miracle shooting our verité doc under trying conditions: an 8-day walk across windy, rainy Iowa. He has a 
                    | talent for anticipating action, nailing the critical shot, and delivering B-roll that you don’t expect to need (but invariably do). 
                    | His strong work ethic and keen sense of humor made the long days fly by. With his steady hand on the tiller and sensitivity towards the subjects, 
                    | my directing load was very light indeed."
                    br
                p1    
                    |- Ralph King, Hawkview Pictures
                    br
                    br
                em1
                    | "I’ve had the pleasure of working with Jim Granato for the better part of ten years through his work as the videographer for 
                    | hire at the San Francisco Museum of Modern Art and other Bay Area film projects. He is an incredible PRO with a deep knowledge 
                    | of the field of filmmaking, a passion for film,  whose  supportive and collaborative spirit is invaluable to the film community.  
                    | SFMOMA values his work, his attention to detail, his professional demeanor and his timeliness with respect to project deadlines - 
                    | that’s why he is the first one we call when we need documentation!  As a filmmaker, he is a wonderful talent who has a unique 
                    | voice. I cannot say enough good things about Jim G!" 
                    br
                p1 
                    | - Gina Basso, Program Associate, Performance & Film, SFMOMA
                    br
                    br
                
                em1 
                    | "Jim Granato is fantastic to work with. Aside from being a great filmmaker in his own right, he is a valued collaborator with a
                    | deep knowledge of film, video and sound technology. He has shot video for SF Sketchfest for over a decade and is always the 
                    | first call we make."
                    br
                p1
                    | - David Owen, Co-Founder, SF Sketchfest
                    br
                    br
                    
            .div1
                strong
                
                    | If you would like to hire Jim for your next project, you can email him here.
                    br
                    br
        
        .col-lg-12.text-center 
            img.img-responsive3(src='./images/JimG_iowamarch.jpg')  
     
         
    
    script(type='text/javascript').
      $(document).ready(function(){
      $(".large").hide(0).delay(100).fadeIn(1000)
      }); 
      
    
             
            

         
  