extends layout

block content
    .container
       .row
        .span12.text-center
            div(page-header='')
            h3
        
        .col-md-3
            img.img-responsive(src='./images/dtour.jpg')
        
        .col-md-9
            p
                | D TOUR (99 mins), directed by Jim Granato, is a powerful, evocative and deeply personal story. Combining a band road trip with a 
                | personal quest for an organ donor, the film follows the journey of Pat Spurgeon, a talented indie rock musician on the rise, whose
                | life becomes consumed with the care and feeding of his failing kidney. Spurgeon, a previous kidney transplant recipient, is part 
                | of the organ donor / recipient community, a special group whose lives become entwined in life and death. 
                br    
                | On one side are those who 
                | are saved through tragedy or by an incredible gift from a living donor; on the other are the families of the donors, who are offered 
                | a chance for hope and bittersweet resolution for their loss. D TOUR is filled with unexpected twists and the joys and sorrows of life. 
                | Pat Spurgeon is an integral part of the indie pop band Rogue Wave, whose four critically acclaimed albums and performances worldwide have 
                | earned them a growing fan base. As the film begins, Spurgeon is embarking on tour, an exhausting prospect even for healthy musicians, but 
                | almost impossible for someone coping with dialysis, dietary restrictions and the search for a living donor match. 
                br
                | While his choice to keep 
                | touring and working towards the band's goals is put to the test, Spurgeon continues to deal with his challenges in a straightforward and 
                | matter-of-fact way. D TOUR addresses issues within the U.S. healthcare system, including the lack of affordable insurance, the importance of 
                | organ donation, and much more. 
                br
                | Featuring live performances from Ben Gibbard (Death Cab for Cutie), Nada Surf, John Vanderslice, The Moore Brothers, 
                | and of course, Rogue Wave.
                br
                | Produced, Directed, Photographed & Co-Edited by Jim Granato
        br
        br
        .col-md-12
            p
                | FOR THOSE INTERESTED IN PURCHASING A D TOUR DVD, please send $25 (US orders only; incl shipping & handling charges) via PayPal to dtourthemovie@gmail.com
                | Be sure to include your full shipping address and a note and I will receive it and fulfill your order within the next 1-2 business days. For international order, please email me above for rates. Thank You!
            