extends layout

block content
  .container
   .row
    .page-header
      h3 Films
      .row
        .card-deck 
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='0')
              img.img-responsive(src='./images/slug.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Slug War
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent')
              #collapsecontent.collapse
               | Army soldiers, on a mission to protect a satellite dish, are caught up in a battle with an unexpected visitor. Meanwhile, filmmaker Jim Granato collaborates with his son, Alex Rey (age 4), competing with his unstoppable energy and spontaneous creativity.
               | Photographed, Edited, Written and Directed by Jim Granato
              
            
                
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='1')
              img.img-responsive(src='./images/angels.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Angels
              p.card-text 
              
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='2')
              img.img-responsive(src='./images/so_long.jpeg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title So Long, Kodachrome
              p.card-text
              
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='3')
              img.img-responsive(src='./images/dream.jpeg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Afternoon Dream
              p.card-text 
              
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='4')
              img.img-responsive(src='./images/designated_routes.jpeg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Designated Routes
              p.card-text 
              
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='5')
              img.img-responsive(src='./images/urban.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Urban Renewal 
              p.card-text 
              
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='6')
              img.img-responsive(src='./images/urban.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Fags and a Pint 
              p.card-text 
        
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='7')
              img.img-responsive(src='./images/skins.jpeg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Human Skins
              p.card-text    
        
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='8')
              img.img-responsive(src='./images/robots.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title Caffeinated Robots
              p.card-text
        
        .col-lg-4.col-sm-6
          .card
            a(href='#gallery', data-slide-to='9')
              img.img-responsive(src='./images/picnic.jpg', data-toggle='modal', data-target='#myModal')
            .card-block
              h2.card-title The Picnic
              p.card-text          
    
      #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            #gallery.carousel.slide(data-interval='false')
              .carousel-inner
                .item.active
                  iframe(src='https://www.youtube.com/embed/HTO55LIzky8', width='640', height='480', frameborder='0', allowfullscreen='', alt='item1')
                .item
                  iframe(src='https://player.vimeo.com/video/63921781', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item2')
                .item
                  iframe(src='https://player.vimeo.com/video/146865203', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item3')
                .item
                  iframe(src='https://player.vimeo.com/video/7842372', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item4')
                .item
                  iframe(src='https://player.vimeo.com/video/7789499', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item5')
                .item
                  iframe(src='https://player.vimeo.com/video/7831395', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item6')
                .item
                  iframe(src='https://www.youtube.com/embed/H5Cbg1f0cRI', width='640', height='480', frameborder='0', allowfullscreen='', alt='item7')
                .item  
                  iframe(src='https://player.vimeo.com/video/7842838', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item8')
                .item  
                  iframe(src='https://www.youtube.com/embed/N7vnBNEQ9iw', width='640', height='480',frameborder='0', allowfullscreen='', alt='item9')  
                .item  
                  iframe(src='https://player.vimeo.com/video/7875292', width='640', height='480', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='item10')
  
              
          a.left.carousel-control(href='#gallery', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
          a.right.carousel-control(href='#gallery', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
          br
          button.btn.btn-secondary(type='btn', data-dismiss='modal') x
          
          
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(type='text/javascript').
      $(document).ready(function(){
      $('.glyphicon-chevron-down').click(function(){
      $("p.card-text").slideToggle();
      $(this).toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up");
      });
      });
      
   