extends layout

block content
    .container-home
        .fade-in
          .col-lg-12
                .col-lg-4.col-md-4
                
                    
                      //a.twitter-timeline(href='https://twitter.com/dmcdekker?ref_src=twsrc%5Etfw') Jim's Tweets
                      //script(async='', src='https://platform.twitter.com/widgets.js', charset='utf-8')
                    
            
                  



                .col-lg-8.col-md-8
                    .jumbotron.jumbotron-fluid1(style='background-image: url(/images/jim_camera_small.jpg);')
                    
                  
    