extends layout

block content
        .fade-in
            .jumbotron.jumbotron-fluid1(style='background-image: url(/images/jim_camera.jpg);')
                
              //* .col-lg-3
                  h1 News!
                    p 
                        | Brand new news re the Mummies movie; go see it and buy it! Support local filmmakers8?*/
                    
        
        
    