extends layout

block content
    .container-home
        .fade-in
          .col-lg-12
         
                    .jumbotron.jumbotron-fluid1(style='background-image: url(/images/jim_camera_small.jpg);')
                    
                  
    