doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
    meta(charset='utf-8')
    title Jim Granato Bay Area Filmmaker | jimgranato.com
    meta(name="title" content="Jim Granato, independent filmmaker, Oakland, California")
    meta(name="description" content="Jim Granato is an independent filmmaker in Oakland, Californiais a self-taught, award-winning filmmaker based in Oakland, California, who has been directing and producing short films, documentaries, and music videos since 1996")
    meta(name="keywords" content='Jim Granato, Bay Area, Oakland, Filmmaker, Independent, Filmmaker for hire, jimgranato.com, jimg, jim granato, Jim Granato, Dtour, documentary, short films, music video')
    
    
    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/font-awesome/css/font-awesome.min.css')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Quicksand', rel='stylesheet')
  
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-nav
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Jim Granato
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/portfolio') Portfolio
            li
              a(href='/dtour') D Tour 
            li
              a(href='/about') About    
      // /.nav-collapse
    #container
      block content
    
    block footer
      footer
        .icons.text-center
          a.i.fa.fa-envelope#lnkMail(href='mailto:jimgranato@gmail.com', aria-hidden='true')
          a.i.fa.fa-vimeo(href='https://vimeo.com/jimgranato', target='_blank', aria-hidden='true')
          a.i.fa.fa-youtube(href='https://www.youtube.com/user/Autonomy16', target='_blank', aria-hidden='true')
          a.i.fa.fa-mixcloud(href='https://www.mixcloud.com/wax_crackle_pop/', target='_blank', aria-hidden='true')
          a.i.fa.fa-imdb(href='http://www.imdb.com/name/nm1637047/', target='_blank', aria-hidden='true')
         
    
           
          
          
     

            
      
          
          
          
    
    
        


      
      
      
      
    
