extends layout

block content
  .container
   .row
    .page-header
      button#showall All
      button#films_button Films
      button#documentary_button Documentaries
      button#music_video_button Music Videos
      button#freelance_button Freelance
      
      .row
        .card-deck
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='music1', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal1')
                img.img-responsive(src='./images/love_open_the_door.jpeg')
              .card-block
                h2.card-title Let My Love Open the Door
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent')
                #collapsecontent.collapse
                 |"The idea for this video has been circling around my brain since we finished tracking it," says Zach Rogue, of Rogue Wave. "A fantasy about what I could tell my younger self if I had the chance."
                 | Music Video promo for Rogue Wave's 2017 album, Cover Me. 
                 | Directed, Co-Produced, Photographed, and Edited by Jim Granato. 
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance1', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal2')
                img.img-responsive(src='./images/oowa.jpg')
              .card-block
                h2.card-title Oowa Lenses
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent1')
                #collapsecontent1.collapse
                 | Kickstarter campaign video for iphone 6 lens attachment.
                 | Directed, Photographed and Edited by Jim Granato
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance2', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal3')
                img.img-responsive(src='./images/glowing_portrait.jpeg')
              .card-block
                h2.card-title The Glowing Portrait
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent2')
                #collapsecontent2.collapse
                 | Four hour pastel pencil instructional video for artist Cuong Nguyen.
                 | Directed, Photographed, and Edited by Jim Granato. 
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance3', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal4')
                img.img-responsive(src='./images/breathe.jpeg')
              .card-block
                h2.card-title The Campaign to Breathe Free
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent3')
                #collapsecontent3.collapse
                 | Short campaign video for Breathe California, a Bay Area non-profit organization that fights lung disease, advocates for clean air and advances public health through education and services.
                 | Directed, Photographed, and Edited by Jim Granato.
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance4', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal5')
                img.img-responsive(src='./images/adobe_spark.jpg')
              .card-block
                h2.card-title Adobe Spark Aina Story
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent4')
                #collapsecontent4.collapse
                 | Promo video for Adobe Spark.
                 | Videography by Jim Granato.  
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance5', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal6')
                img.img-responsive(src='./images/usf_maps.jpg')
              .card-block
                h2.card-title USF Maps
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent5')
                #collapsecontent5.collapse
                 | Recruitment video for the University of San Francisco's Masters program in Asian Pacific Studies.
                 | Directed, Photographed, and Edited by Jim Granato.
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance6', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal7')
                img.img-responsive(src='./images/science_sharing.jpg')
              .card-block
                h2.card-title Science of Sharing
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent6')
                #collapsecontent6.collapse
                 | One of several promo videos made for the Exploratorium and their Science of Sharing exhibition, where they investigate competition, 
                 | cooperation, and social interaction. 
                 | An unexpected event occurs in the face of a co-worker. Do you bring it up or let it hang? Many critical challenges we all face—issues like 
                 | energy crises, international conflict, ecosystem collapse, and climate change—revolve around social perceptions, expectations, and interactions. 
                 | Directed, Written, Co-Produced, Photographed, and Edited by Jim Granato.
         
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance7', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal8')
                img.img-responsive(src='./images/exploralab.jpg')
              .card-block
                h2.card-title Introducing Exploralab
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent7')
                #collapsecontent7.collapse
                 | Trailer for fun and interactive science book for kids, designed by The Exploratorium. 
                 | Directed, Written, Co-Produced, Photographed, and Edited by Jim Granato.
                 
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='music2', class='targetDiv')
            .card
              a(href='#gallery', data-slide-to='8')
                img.img-responsive(src='./images/happy_carrot.jpg', data-toggle='modal', data-target='#myModal9')
              .card-block
                h2.card-title Happy Carrot Health Food Store
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent8')
                #collapsecontent8.collapse
                 | Sonny & the Sunsets' "Talent Night At The Ashram" was originally intended as a series of short films based on Sonny's songs that would then tell a bigger story. 
                 | That never quite happened, but one of the short films they did finish has been relesased, "Happy Carrot Health Food Store." Made by Jim Granato, it's a funny, 
                 | literal take on the song as Sonny attempts to shop for vegetables, dietary supplements and sunglasses. The song and video take a psychedelic turn near the end, 
                 | courtesy animator Teppi Ando. It's worth your seven minutes and you can watch it below. - Brooklyn Vegan 
                 | Directed, Co-Produced, Photographed, and Edited by Jim Granato.
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary1', class='targetDiv')
            .card
              a(href='#gallery', data-slide-to='9')
                img.img-responsive(src='./images/humans_mars.jpg', data-toggle='modal', data-target='#myModal10')
              .card-block
                h2.card-title Sending Humans To Mars
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent9')
                #collapsecontent9.collapse
                 | What would it take for humans to travel to and live on Mars—and who is daring enough to do it? In this episode, 
                 | we explore the Mars One project, which is planning human settlement on the red planet, and hear from scientists at 
                 | NASA's Ames Research Center about adjusting to the Martian environment. We also meet the brave Bay Area residents who 
                 | are hoping to make this journey.
                 | Directed, Produced, Photographed, and Edited by Jim Granato.
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary2', class='targetDiv')
            .card
              a(href='#gallery', data-slide-to='10')
                img.img-responsive(src='./images/wildlife.jpg', data-toggle='modal', data-target='#myModal11')
              .card-block
                h2.card-title Living With Wildlife
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent10')
                #collapsecontent10.collapse
                 | With the ever shifting boundaries between humans and wildlife in the Bay Area, the daily routine for many has it's challenges and rewards 
                 | for all involved. Based on biological studies and direct experiences, we focus on a few of our favorite neighboring species who interact with us humans, 
                 | and our way of life, in more ways than you may think. 
                 | Directed, Produced, Photographed, and Edited by Jim Granato.
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='film1', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal12')
                img.img-responsive(src='./images/slug.jpg')
              .card-block
                h2.card-title Slug War
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent11')
                #collapsecontent11.collapse
                 | Army soldiers, on a mission to protect a satellite dish, are caught up in a battle with an unexpected visitor. Meanwhile, filmmaker Jim Granato collaborates with his son, Alex Rey (age 4), competing with his unstoppable energy and spontaneous creativity.
                 | Photographed, Edited, Written, and Directed by Jim Granato.
                 
            
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='film2', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal13')
                img.img-responsive(src='./images/angels.jpg')
              .card-block
                h2.card-title Angels
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent12')
                #collapsecontent12.collapse
                 | An innocent man walks through San Francisco clueless to the fact that the Blue Angels are in town practicing their air show. 
                 | After several encounters with the mysterious roars from above and the city's more colorful characters, our hero snaps and runs amok, 
                 | seeking shelter. The movies are just around the corner! But, in our hero's case, he's on their corner. 
                 | Photographed, Edited, Written, and Directed by Jim Granato.
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary3', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal14')
                img.img-responsive(src='./images/urban_astronomy.jpg')
              .card-block
                h2.card-title Urban Astronomy
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent13')
                #collapsecontent13.collapse
                 | Cities are known to produce a lot of light pollution, making it a challenge for astronomy enthusiasts to view the heavens 
                 | within city limits. For us in the SF Bay Area, these issues apply, however, exciting results can still be attained between 
                 | sky gazing and learning about how we all fit into this big thing we call "space".
                 | Directed, Produced, Photographed, and Edited by Jim Granato..       
      
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary4', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal15')
                img.img-responsive(src='./images/electric_guitar.jpg')
              .card-block
                h2.card-title Electric Guitar
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent14')
                #collapsecontent14.collapse
                 | The electric guitar-few things sound more exciting or alive in the world of music. But how does it work? The Science in the 
                 | City team visit with Bay Area based electric guitarists Ava Mendoza and Henry Kaiser, plus Subway Guitars very own Fat Dog, to 
                 | shred away some mysteries of this beloved instrument. Join us as we get down to the dynamics, parts, styles, and timbre that 
                 | buzz within in a body full of signals, magnets, and wires.
                 | Directed, Produced, Photographed, and Edited by Jim Granato.
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary5', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal16')
                img.img-responsive(src='./images/making_bell.jpg')
              .card-block
                h2.card-title The Making of a Bell
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent15')
                #collapsecontent15.collapse
                 | We explore the creation of a bell for the Exploratorium's new home at Pier 15.
                 | Artist Nick Diphillipo has been designing and casting bells and other objects for over thirty years. He teaches bell making at The Crucible in Oakland, California, as well as other foundry-related subjects.
                 | Directed, Co-produced, Photographed, and Edited by Jim Granato.
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='documentary5', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal17')
                img.img-responsive(src='./images/altamont.jpg')
              .card-block
                h2.card-title Altamont Wind Farm
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent16')
                #collapsecontent16.collapse
                 | Southeast of San Francisco, on the way out to California's Central Valley, thousands of wind turbines dot the landscape of 
                 | Altamont Pass. Mounted both in rows and individually, machines with large propellers catch the wind, turning round and round at 
                 | different speeds. Learn how wind energy is generated and stored for use in this most peculiar area, and its impact on living things 
                 | both near and far.
                 | Directed, Co-produced, Photographed, and Edited by Jim Granato.   
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance8', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal18')
                img.img-responsive(src='./images/carl_davis.jpg')
              .card-block
                h2.card-title Carl Davis at the Paramount Theater
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent17')
                #collapsecontent17.collapse
                 | One of three promo videos for the San Francisco Silent Film Festival featuring legendary composer Carl Davis visiting the 
                 | Paramount Theatre in Oakland, CA for the first time. Carl Davis would go on to create a site specific live score for a rare 
                 | screening of Abel Gance's legendary epic NAPOLEON.
                 | Directed, Photographed, and Edited by Jim Granato.          
        
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='music3', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal19')
                img.img-responsive(src='./images/at_the_beginning.jpg')
              .card-block
                h2.card-title At the Beginning of the End
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent18')
                #collapsecontent18.collapse
                 | Ramon & Jessica's "Empire" riffs on themes of post-apocalyptic society, DIY culture, and political stagnation. Released just 
                 | days before the 2012 election, "Empire" is timed to comment on the current election hype, while reflecting on the turmoils of 
                 | the past four years: climate change, Occupy Wall Street, economic uncertainty, and amidst all this, the continuation of everyday life by everyday people.
                 | Directed, Co-Produced, Photographed, and Edited by Jim Granato. 
          
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='freelance9', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal20')
                img.img-responsive(src='./images/jack_white.jpg')
              .card-block
                h2.card-title Jack White PopUp Performance
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent19')
                #collapsecontent19.collapse
                 | Last minute shoot of famed rocker Jack White performing, with his band, in the middle of the woods in Golden Gate Park during Outside Lands in San Francisco.
                 | Produced and Edited by Jim Granato.
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='music4', class='targetDiv')
            .card
              a(href='#gallery', data-toggle='modal', data-target='#myModal21')
                img.img-responsive(src='./images/pancho-san.jpg')
              .card-block
                h2.card-title Kick the Fences Down
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent20')
                #collapsecontent20.collapse
                 | Mixing found footage with 16mm & HD elements, Pancho-san's Patrick Abernethy (formerly of Beulah & Rogue Wave) trips through a 
                 | landscape where the horses must run free. This is the debut music video from the SF Bay Area's Pancho-san
                 | . "Kick The Fences Down" is available on their self-released, "Oh, Mellow Melody..."
                 | Produced and Edited by Jim Granato.  
                 
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='film3', class='targetDiv')
            .card
              a(href='#gallery', , data-toggle='modal', data-target='#myModal22')
                img.img-responsive(src='./images/west.jpg')
              .card-block
                h2.card-title West Is San Francisco
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent21')
                #collapsecontent2.collapse 
                  | A film collaboration (32 min) between six San Francisco filmmakers.  A frenetic fusion of night and day, movement and stasis, 
                  | work and play - an iconographic city rides the flux of boom and bust in the 21st century. 
                  | Co-Directed, Produced, Edited and photographed by Jim Granato
                  
          .col-xl-3.col-lg-4.col-sm-6.col-xs-12(id='film4', class='targetDiv')
            .card
              a(href='#gallery', data-slide-to='22')
                img.img-responsive(src='./images/so_long.jpeg', data-toggle='modal', data-target='#myModal23')
              .card-block
                h2.card-title So Long, Kodachrome
                p.card-text(style='display: none')
                span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent22')
                #collapsecontent22.collapse
                  | A deal goes down in a shady motel room where our (anti-)hero gets more than he bargains for. 
                  | "So Long, Kodachrome" is an ode to super 8 and the beloved, now defunct, popular color film stock while paying homage to a famous 70’s American landmark film.
                  | Photographed, Edited, Written and Directed by Jim Granato        
                   
      #gallery
        #myModal1.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://www.youtube.com/embed/-0A4s3DLpOI', frameborder='0', allowfullscreen='', alt='let_my_love_open_the_door')
                
        #myModal2.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/168104807', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='oowa')  
            
        #myModal3.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/_vKdawO9O0U', frameborder='0', allowfullscreen='', alt='glowing_portrait')  
        
        #myModal4.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/yGBDutELze4', frameborder='0', allowfullscreen='', alt='breathe')
                
        #myModal5.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body        
                iframe(src='https://player.vimeo.com/video/176203438', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='adobe_spark') 
                    
        #myModal6.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://player.vimeo.com/video/170989280', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='usf_maps')
            
        
        #myModal7.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/FPg7BHZcae8', frameborder='0', allowfullscreen='', alt='science_of_sharing') 
              
        
        #myModal8.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://www.youtube.com/embed/8aM_5S2tydw', frameborder='0', allowfullscreen='', alt='exploralab') 
                
        #myModal9.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/fQZ2CsxVO20', frameborder='0', allowfullscreen='', alt='happy_carrot') 
        
        #myModal10.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://player.vimeo.com/video/209838072', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='humans_mars')
              
        #myModal11.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body  
                iframe(src='https://player.vimeo.com/video/209824627', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='wildlife')
  
        #myModal12.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body  
                iframe(src='https://www.youtube.com/embed/HTO55LIzky8', frameborder='0', allowfullscreen='', alt='slug_war')
        
        #myModal13.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body  
                iframe(src='https://player.vimeo.com/video/63921781', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='angels')
  
        #myModal14.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/209833412', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='urban_astronomy')
                
        
        #myModal15.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/210005326', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='electric_guitar')
                
              
        #myModal16.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/209813517', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='making_bell')
        
        #myModal17.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/209996164', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='altamont')
        
        #myModal18.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://www.youtube.com/embed/SM5Ru8_9RUA', frameborder='0', allowfullscreen='', alt='carl_davis')
        
        #myModal19.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://player.vimeo.com/video/52560200', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='at_the_beginning')
        
        #myModal20.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://player.vimeo.com/video/63226418', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='jack_white')
        
        #myModal21.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://player.vimeo.com/video/28651441', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='pancho-san')
              
        #myModal22.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://player.vimeo.com/video/32331105', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='west_is_sf')  
        
        #myModal23.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://player.vimeo.com/video/146865203', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='so_long')
        
        #myModal24.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
              
        #myModal25.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
              
        #myModal26.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
              
        #myModal27.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
              
        #myModal28.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
        
        #myModal29.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
        
        #myModal30.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body 
        
        #myModal31.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body    
        
        #myModal32.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
        
         #myModal33.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body         
        
        
        
    script(type='text/javascript').
    
      $(function(){
      $('#myModal1, #myModal2, #myModal3, #myModal4, #myModal5, #myModal6, #myModal7, #myModal8, #myModal9, #myModal10, #myModal11, #myModal12, #myModal13, #myModal14, #myModal15, #myModal16, #myModal17, #myModal18, #myModal19, #myModal20, #myModal21, #myModal22, #myModal23, #myModal24, #myModal25, #myModal26, #myModal27, #myModal28, #myModal29, #myModal30, #myModal31, #myModal32, #myModal33').on('hidden.bs.modal', function (e) {
      $iframe = $(this).find("iframe");
      $iframe.attr("src", $iframe.attr("src"));
      });
      });
      
      
      $(document).ready(function(){
      $('.glyphicon-chevron-down').click(function(){
      $("p.card-text").slideToggle();
      $(this).toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up");
      });
      });
      
    
      $(document).ready(function(){
      
      $('#showall').click(function(){
      $('.targetDiv').show();
      });
        
      $('#films_button').click(function(){
      $('.targetDiv').hide();
      $('#film1, #film2, #film3, #film4, #film5, #film6, #film7, #film8').show();
      });
      
      $('#documentary_button').click(function(){
      $('.targetDiv').hide();
      $('#documentary1, #documentary2, #documentary3, #documentary4, #documentary5').show();
      }); 
      
      $('#music_video_button').click(function(){
      $('.targetDiv').hide();
      $('#music1, #music2, #music3').show();
      }); 
      
      $('#freelance_button').click(function(){
      $('.targetDiv').hide();
      $('#freelance1, #freelance2, #freelance3, #freelance4, #freelance5, #freelance6, #freelance7, #freelance8').show();
      }); 
      
      });
      
    
 
      
  
      
    

      
    
      
   