extends layout

block content
  .container
   .row
    .page-header
      button#showall All
      button#films_button Films
      button#documentary_button Documentaries
      button#music_video_button Music Videos
      button#freelance_button Freelance
      
      .row
        .card-deck
        .col-lg-4.col-sm-6.col-xs-12(id='music1', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal1')
              img.img-responsive(src='./images/love_open_the_door.jpeg')
            .card-block
              h2.card-title Let My Love Open the Door
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent')
              #collapsecontent.collapse
               |"The idea for this video has been circling around my brain since we finished tracking it," says Zach Rogue, of Rogue Wave. "A fantasy about what I could tell my younger self if I had the chance."
               | Music Video promo for Rogue Wave's 2017 album, Cover Me. 
               | Directed, Co-Produced, Photographed, and Edited by Jim Granato. 
        
        .col-lg-4.col-sm-6.col-xs-12(id='freelance1', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal2')
              img.img-responsive(src='./images/oowa.jpg')
            .card-block
              h2.card-title Oowa Lenses
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent1')
              #collapsecontent1.collapse
               | Kickstarter campaign video for iphone 6 lens attachment.
               | Directed, Photographed and Edited by Jim Granato
               
        .col-lg-4.col-sm-6.col-xs-12(id='freelance2', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal3')
              img.img-responsive(src='./images/glowing_portrait.jpeg')
            .card-block
              h2.card-title The Glowing Portrait
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent2')
              #collapsecontent2.collapse
               | Four hour pastel pencil instructional video for artist Cuong Nguyen.
               | Directed, Photographed, and Edited by Jim Granato. 
        
        .col-lg-4.col-sm-6.col-xs-12(id='freelance3', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal4')
              img.img-responsive(src='./images/breathe.jpeg')
            .card-block
              h2.card-title The Campaign to Breathe Free
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent3')
              #collapsecontent3.collapse
               | Short campaign video for Breathe California, a Bay Area non-profit organization that fights lung disease, advocates for clean air and advances public health through education and services.
               | Directed, Photographed, and Edited by Jim Granato.
        
        .col-lg-4.col-sm-6.col-xs-12(id='freelance4', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal5')
              img.img-responsive(src='./images/adobe_spark.jpg')
            .card-block
              h2.card-title Adobe Spark Aina Story
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent4')
              #collapsecontent4.collapse
               | Promo video for Adobe Spark.
               | Videography by Jim Granato.  
        
        .col-lg-4.col-sm-6.col-xs-12(id='freelance5', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal6')
              img.img-responsive(src='./images/usf_maps.jpg')
            .card-block
              h2.card-title USF Maps
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent5')
              #collapsecontent5.collapse
               | Recruitment video for the University of San Francisco's Masters program in Asian Pacific Studies.
               | Directed, Photographed, and Edited by Jim Granato.
               
        .col-lg-4.col-sm-6.col-xs-12(id='freelance6', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal7')
              img.img-responsive(src='./images/science_sharing.jpg')
            .card-block
              h2.card-title Science of Sharing
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent6')
              #collapsecontent6.collapse
               | One of several promo videos made for the Exploratorium and their Science of Sharing exhibition, where they investigate competition, 
               | cooperation, and social interaction. 
               | An unexpected event occurs in the face of a co-worker. Do you bring it up or let it hang? Many critical challenges we all face—issues like 
               | energy crises, international conflict, ecosystem collapse, and climate change—revolve around social perceptions, expectations, and interactions. 
               | Directed, Written, Co-Produced, Photographed, and Edited by Jim Granato.
       
        .col-lg-4.col-sm-6.col-xs-12(id='freelance7', class='targetDiv')
          .card
            a(href='#gallery', data-toggle='modal', data-target='#myModal8')
              img.img-responsive(src='./images/exploralab.jpg')
            .card-block
              h2.card-title Introducing Exploralab
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent7')
              #collapsecontent7.collapse
               | Trailer for fun and interactive science book for kids, designed by The Exploratorium. 
               | Directed, Written, Co-Produced, Photographed, and Edited by Jim Granato.
               
               
        .col-lg-4.col-sm-6.col-xs-12(id='music2', class='targetDiv')
          .card
            a(href='#gallery', data-slide-to='8')
              img.img-responsive(src='./images/happy_carrot.jpg', data-toggle='modal', data-target='#myModal9')
            .card-block
              h2.card-title Happy Carrot Health Food Store
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent8')
              #collapsecontent8.collapse
               | Sonny & the Sunsets' "Talent Night At The Ashram" was originally intended as a series of short films based on Sonny's songs that would then tell a bigger story. 
               | That never quite happened, but one of the short films they did finish has been relesased, "Happy Carrot Health Food Store." Made by Jim Granato, it's a funny, 
               | literal take on the song as Sonny attempts to shop for vegetables, dietary supplements and sunglasses. The song and video take a psychedelic turn near the end, 
               | courtesy animator Teppi Ando. It's worth your seven minutes and you can watch it below. - Brooklyn Vegan 
               | Directed, Co-Produced, Photographed, and Edited by Jim Granato.
        
        .col-lg-4.col-sm-6.col-xs-12(id='documentary3', class='targetDiv')
          .card
            a(href='#gallery', data-slide-to='9')
              img.img-responsive(src='./images/humans_mars.jpg', data-toggle='modal', data-target='#myModal10')
            .card-block
              h2.card-title Sending Humans To Mars
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent9')
              #collapsecontent9.collapse
               | What would it take for humans to travel to and live on Mars—and who is daring enough to do it? In this episode, 
               | we explore the Mars One project, which is planning human settlement on the red planet, and hear from scientists at 
               | NASA's Ames Research Center about adjusting to the Martian environment. We also meet the brave Bay Area residents who 
               | are hoping to make this journey.
               | Directed, Produced, Photographed, and Edited by Jim Granato.
        
        .col-lg-4.col-sm-6.col-xs-12(id='documentary4', class='targetDiv')
          .card
            a(href='#gallery', data-slide-to='10')
              img.img-responsive(src='./images/wildlife.jpg', data-toggle='modal', data-target='#myModal11')
            .card-block
              h2.card-title Living With Wildlife
              p.card-text(style='display: none')
              span.glyphicon.glyphicon-chevron-down(data-toggle='collapse', href='#collapsecontent10')
              #collapsecontent10.collapse
               | With the ever shifting boundaries between humans and wildlife in the Bay Area, the daily routine for many has it's challenges and rewards 
               | for all involved. Based on biological studies and direct experiences, we focus on a few of our favorite neighboring species who interact with us humans, 
               | and our way of life, in more ways than you may think. 
               | Directed, Produced, Photographed, and Edited by Jim Granato.            
    
      
      #gallery
        #myModal1.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×
              .modal-body
                iframe(src='https://www.youtube.com/embed/-0A4s3DLpOI', frameborder='0', allowfullscreen='', alt='let_my_love_open_the_door')
                
        #myModal2.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://player.vimeo.com/video/168104807', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='oowa')  
            
        #myModal3.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/_vKdawO9O0U', frameborder='0', allowfullscreen='', alt='glowing_portrait')  
        
        #myModal4.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/yGBDutELze4', frameborder='0', allowfullscreen='', alt='breathe')
                
        #myModal5.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body        
                iframe(src='https://player.vimeo.com/video/176203438', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='adobe_spark') 
                    
        #myModal6.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://player.vimeo.com/video/170989280', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='usf_maps')
            
        
        #myModal7.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/FPg7BHZcae8', frameborder='0', allowfullscreen='', alt='science_of_sharing') 
              
        
        #myModal8.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://www.youtube.com/embed/8aM_5S2tydw', frameborder='0', allowfullscreen='', alt='exploralab') 
                
        #myModal9.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body
                iframe(src='https://www.youtube.com/embed/fQZ2CsxVO20', frameborder='0', allowfullscreen='', alt='happy_carrot') 
        
        #myModal10.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body 
                iframe(src='https://player.vimeo.com/video/209838072', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='humans_mars')
              
        #myModal11.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal')
                  span(aria-hidden='true') ×      
              .modal-body  
                iframe(src='https://player.vimeo.com/video/209824627', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='', alt='wildlife')
  
  
  
    
    
    script(type='text/javascript').
    
      $(function(){
      $('#myModal1, #myModal2, #myModal3, #myModal4, #myModal5, #myModal6, #myModal7, #myModal8, #myModal9, #myModal10, #myModal11').on('hidden.bs.modal', function (e) {
      $iframe = $(this).find("iframe");
      $iframe.attr("src", $iframe.attr("src"));
      });
      });
      
      
      $(document).ready(function(){
      $('.glyphicon-chevron-down').click(function(){
      $("p.card-text").slideToggle();
      $(this).toggleClass("glyphicon-chevron-down").toggleClass("glyphicon-chevron-up");
      });
      });
      
    
      $(document).ready(function(){
      
      $('#showall').click(function(){
      $('.targetDiv').show();
      });
        
      $('#films_button').click(function(){
      $('.targetDiv').hide();
      $('#film1, #film2, #film3, #film4, #film5, #film6, #film7, #film8').show();
      });
      
      $('#documentary_button').click(function(){
      $('.targetDiv').hide();
      $('#documentary1, #documentary2').show();
      }); 
      
      $('#music_video_button').click(function(){
      $('.targetDiv').hide();
      $('#music1').show();
      }); 
      
      $('#freelance_button').click(function(){
      $('.targetDiv').hide();
      $('#freelance1, #freelance2, #freelance3, #freelance4, #freelance5').show();
      }); 
      
      });
      
    
 
      
  
      
    

      
    
      
   