extends layout

block content
    #recentwork
      a#recent.smooth
      .container
        .page-header
          h1 RECENT  WORK
        .album.text-muted
          .container
            .row
              .col-xs-6.col-lg-4.card
                .video-container
                  iframe(src='https://www.youtube.com/embed/HTO55LIzky8', frameborder='0', allowfullscreen='', style='height: 100%; width: 100%; display: block;')
                .video-text
                  h3 A Day with My Boy: Slug War
                  h4 2014, Super 8mm & HD, 4 mins.
              // /span
              .col-xs-6.col-lg-4.card
                .video-container
                  iframe(src='http://vimeo.com/moogaloop.swf?clip_id=63921781&force_embed=1&server=vimeo.com&show_title=0&show_byline=0&show_portrait=0&color=ffffff&fullscreen=1&autoplay=0&loop=0', frameborder='0', allowfullscreen='', style='height: 100%; width: 100%; display: block;')
                .video-text
                  h3 Angels
                  h4 2013, HD, 6 mins.
              // /span
            
